.portfolio{
  padding-top: 56px;
  z-index: -1000;

  figure{
    margin: 20px 0;
    height: 140px;
    overflow: hidden;

    .image{
      overflow: hidden;
      width: 100%;
      height: 100%;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
    }

    &:first-child{
      background-color: #4ccde8;
    }
    figcaption{

    }
  }
}