.portfolio {
  padding-top: 95px;
  z-index: -1000;
  @include user-select(none);

  .add {
    position: relative;

    &::after {
      content: '';
      position: absolute;
      width: 40px;
      height: 40px;
      background: #4ccde8 url(../../images/portfolio/star.svg) no-repeat center;
      background-size: 30px 30px;
      fill: #fff;
      top: -10px;
      left: -10px;
      @include rotate(45deg);
    }

    a {
      .add-photo {
        background-color: #4ccde8;

        &:hover {
          figcaption {
            background-color: rgba(76, 206, 232, 0);
            @include filter-gradient(#4ccee8, #4ccee8, vertical);
            @include background-image(linear-gradient(top, rgba(76, 206, 232, 0) 0%, rgba(76, 206, 232, 1) 100%));
          }
        }

        figcaption {
          text-align: center;
          line-height: 120px;
          padding: 0;

          p {
            font-family: 'Roboto Condensed', sans-serif;
            font-size: 18px;
            color: #fff;

            span {
              font-family: "Roboto", sans-serif;
              font-weight: 700;
              color: #fff;
            }
          }
        }
      }
    }
  }

  a {

    figure {
      position: relative;
      margin: 10px 0;
      height: 140px;

      &:hover {
        figcaption {
          background-color: rgba(0, 0, 0, 0);
          @include filter-gradient(#000000, #000000, vertical);
          @include background-image(linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%));
        }
      }

      .image {
        overflow: hidden;
        width: 100%;
        height: 100%;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
      }
    }
    figcaption {
      left: 0;
      bottom: 0;
      position: absolute;
      padding-left: 15px;
      width: 100%;
      //      if you wish enabled hover in all images
      //      height: 100%;
      line-height: 1;

      h3 {
        font-family: "Roboto", sans-serif;
        font-weight: 100;
        @include lines();
      }

      p {
        font-family: "Roboto", sans-serif;
        font-size: 12px;
        color: #4ccde8;
      }
    }
  }
}