.portfolio {
  padding-top: 95px;
  z-index: -1000;
  @include user-select(none);

  .add-photo {

    figcaption {
      top: 40%;
      left: 30%;

      p {
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 18px;
        color: #fff;

        span {
          font-family: "Roboto", sans-serif;
          font-weight: 700;
          color: #fff;
        }
      }
    }

  }

  figure {
    position: relative;
    margin: 10px 0;
    height: 140px;

    &:first-child {
      background-color: #4ccde8;
    }

    .image {
      overflow: hidden;
      width: 100%;
      height: 100%;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
    }

    figcaption {
      left: 15px;
      bottom: 0;
      position: absolute;

      h3 {
        font-family: "Roboto", sans-serif;
        font-size: 22px;
        font-weight: 100;
      }

      p {
        font-family: "Roboto", sans-serif;
        font-size: 12px;
        color: #4ccde8;
      }
    }
  }
}