header {
  position: fixed;
  width: 100%;
  height: 56px;
  z-index: 1000;
  @include user-select(none);

  nav {
    line-height: 45px;

    .navbar-header {
      float: left;

      button {
        width: 56px;
        height: 56px;
        border: 0;
        background: rgba(0, 0, 0, 0.5) url(../../images/header/menu.svg) no-repeat center;
        background-size: 16px 16px;
        @include transition-property(all);
        @include transition-duration(200ms);

        &:active {
          background-color: #4ccde8;
        }

        &:hover {
          background-color: #4ccde8;
        }
      }

    }

    .collapse-navbar {
      text-align: center;
      height: 56px;
      background-color: rgba(0, 0, 0, 0.5);

      .dairy {
        float: left;
      }

      a {
        &:first-child {
          padding-left: 20px;
          font-family: "Roboto", sans-serif;
          font-weight: 700;
          @include transition-property(all);
          @include transition-duration(200ms);
        }

        &:hover {
          color: #dedede;
        }
      }

      .date {
        position: relative;
        display: inline-block;
        text-align: center;
        height: 35px;
        @include transition-property(all);
        @include transition-duration(200ms);

        time {
          padding-right: 5px;
          font-weight: 700;
        }

        &::after {
          position: absolute;
          bottom: 0;
          left: 0;
          width: 58px;
          height: 1px;
          background: #fff;
          content: '';
        }

        &:hover {
          color: #dedede;
        }
      }

      .year {
        &::after {
          position: absolute;
          bottom: 0;
          left: 0;
          width: 38px;
          height: 1px;
          background: #fff;
          content: '';
        }
      }

      .navbar-right {
        margin: 0;
        float: right;
        font-size: 0;

        li {
          display: inline-block;
          line-height: 56px;

          .svg-add {
            width: 14px;
            height: 14px;
            polygon {
              fill: #4ccde8;
              @include transition-property(all);
              @include transition-duration(200ms);
            }

            &:hover {
              polygon {
                fill: #ffffff;
              }
            }
          }

          .svg-month {
            width: 14px;
            height: 14px;
            fill: #4ccde8;
            @include transition-property(all);
            @include transition-duration(200ms);

            &:hover {
              fill: #ffffff;
            }
          }

          .svg-search {
            width: 14px;
            height: 14px;
            path:last-child {
              fill: #4ccde8;
              @include transition-property(all);
              @include transition-duration(200ms);
            }
            &:hover {
              path:last-child {
                fill: #ffffff;
              }
            }
          }

          .svg-notification {
            width: 14px;
            height: 14px;
            path {
              fill: #4ccde8;
              @include transition-property(all);
              @include transition-duration(200ms);
            }

            &:hover {
              path {
                fill: #ffffff;
              }
            }
          }

          .enabled {
            position: relative;
            .svg-notification {
              path {
                fill: #05cf00;
              }
            }
            span{
              position: absolute;
              top: -18px;
              right: -3px;
              display: inline-block;
              background-color: #06ed00;
              width: 10px;
              height: 10px;
              @include border-radius(50%);
            }
          }

          a {
            text-decoration: none;

            img {
              vertical-align: top;
              height: 56px;
              width: 56px;
            }
          }
        }
      }
    }
  }
}